<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>HTML5/CSS3发光搜索表单 超酷CSS3表单DEMO演示</title>


    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" media="screen" type="text/css" />
    <script src="{{ url_for('static',filename="js/jquery.js") }}"></script>
</head>

<body>

  <section class="webdesigntuts-workshop">
	<form action="" method="POST">
		<input type="search" placeholder="请输入要搜索的关键字" name="q">
		<button>Search</button>
	</form>
    </section>

</body>

</html>